html, body {
	color: #333;
	font-size: 12px !important;
	height:100%;
}

table {
	font-size: 12px !important;
}


/* PAGE LAYOUT */

#container {
	position: relative;
	width:1000px;
	margin: 0 auto;
	min-height: 100%;
	height:auto !important;
	height:100%;
}

#header {
	background-image: url("#{resource['img/stock-transfer-banner.jpg']}");
	height:100px;
}

#content {
	margin: 0 auto;
	margin-top: 15px;
	min-height: 400px;
}

#footer {
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
}

.logo {
	margin: 0 30px;
	width:100px;
}


.radio-select-method {
	margin: 10px 0;
}

.buttons-container {
	margin-bottom: 10px;
}

.reset-button-panel {
	margin-bottom: 10px;
	float: right;
}

.action-button {
	margin-right:6px !important;
}

.extract-results-main {
	float: right;
}

.extract-results-main .label {
	font-weight: bold;
	margin-left: 30px;
}

.extract-results-filter {
	margin-right:6px !important;
}

.extract-result-table {
	margin-top:10px;
}


/* LOAD */
.updated-stocks-table .ui-widget {
	border: 
}


/* PRIMEFACES COMPONENTS STYLES */
.ui.widget-content, .ui-widget {
	color: #333 !important;
	font-size: 12px !important;
}

.ui-radiobutton {
	margin-right: 10px !important;
}

.ui-selectoneradio label {
	margin-top: 2px;
	margin-right: 20px;
}